.sub-nav {
    background: $lightBlue;

    dd {
        padding: 20px 0;
        opacity: 0.5;
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in);

        &.active, &:hover {
            opacity: 1;
        }

        &.active {
            @include background-image(linear-gradient(transparent, $mediumBlue));
        }
    }

    .search {
        position: relative;
        width: 250px;
        margin: 12px 10px;

        &:hover {
            .icon {
                @extend .faa-pulse.animated.faa-fast
            }
        }

        .icon {
            position: absolute;
            font-size: 20px;
            right: 5px;
            top: 50%;
            margin-top: -15px;
        }

        input[type="text"] {
            margin-bottom: 0;
        }
    }
}
